<div class="row">
  <div class="eight columns">
    {{comment.name}}
  </div>
  <div class="four columns">
    {{comment.dateCreated}}
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p>{{comment.text}}</p>
  </div>
</div>

<div ng-repeat="reply in comment.replies" class="replies">
  <div class="replies" ng-transclude reply="reply"></div>  
</div>

<div class="row">
<input ng-show="show==='true'" class="button-primary editButton" type="submit" value="Edit">
<input ng-show="show==='true'" class="button-primary deleteButton" type="submit" value="Delete Comment">  
</div>

<form ng-show="show==='false'" style="padding-right:8%;" >
  <label for="exampleMessage">Edit Comment</label>
  <textarea class="u-full-width" id="exampleMessage">{{comment.text}}</textarea>
  <input class="button-primary submitButton" type="submit" value="Submit">
</form>


