<div class="row">
  <div class="eight columns">
  	{{reply.name}}
  </div>
  <div class="four columns">
    {{reply.dateCreated}}
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <p>{{reply.text}}<span ng-show="showEditTip==='true'" class="u-pull-right" style="color:blue; padding-right: 6%;">Click to edit</span></p>
  </div>
</div>


<div class="row">
	<label ng-show="showReply==='true'" for="exampleMessage">Edit Comment</label>
	<textarea ng-show="showReply==='true'" class="u-full-width" id="exampleMessage">{{reply.text}}</textarea>
	<input ng-show="showReply==='true'" class="button-primary editButton" type="submit" value="Edit">
	<input ng-show="showReply==='true'" class="button-primary deleteButton" type="submit" value="Delete Comment">  
</div>
